<%= render 'navigation' %>

<div class="my_container">
  <a class="my_comtainer_item" href="img/portfolio-1.jpg">
    <%= image_tag "portfolio-1.jpg", class: "photo" %>
  </a>
  <a class="my_comtainer_item" href="img/portfolio-2.jpg">
    <%= image_tag "portfolio-2.jpg", class: "photo" %>
  </a>
  <a class="my_comtainer_item" href="img/portfolio-3.jpg">
    <%= image_tag "portfolio-3.jpg", class: "photo" %>
  </a>
  <a class="my_comtainer_item" href="img/portfolio-4.jpg">
    <%= image_tag "portfolio-4.jpg", class: "photo" %>
  </a>
  <a class="my_comtainer_item" href="img/portfolio-5.jpg">
    <%= image_tag "portfolio-5.jpg", class: "photo" %>
  </a>
  <a class="my_comtainer_item" href="img/portfolio-6.jpg">
    <%= image_tag "portfolio-6.jpg", class: "photo" %>
  </a>
</div>